{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% macro render_field(field) %}
    <div class="form-group">
        {{ field.label }}
        {% if field.errors %}
            {%for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
        {% if field.type == 'SelectField' or field.type == 'SelectMultipleField' %}
            {{ field(class_="form-control search-select") }}
        {%elif field.type == 'DateField'%}
            {{ field(class_="form-control", placeholder="yyyy-mm-dd") }}
        {%elif field.type == 'TimeField'%}
            {{ field(class_="form-control", placeholder="HH:MM 24h") }}
        {% else %}
            {{ field(class_="form-control") }}
        {% endif %}
    </div>
{% endmacro%}

{%macro render_formfield(field)%}
    {%for unit in field %}
        {%if unit.widget.input_type == 'hidden'%}
            {{unit()}}
        {%else%}
            {{unit.label}}
            {%if unit.errors%}
                {%for e in unit.errors%}
                    <p>class="help-block">{{e}}</p>
                {% endfor %}
            {%endif%}
            {{unit(class_="form-control")}}
        {%endif%}
    {%endfor%}

{%endmacro%}


{% macro render_checkbox(field) %}
    <div class="checkbox">
        <label>{{field}} <b>{{field.label.text}}</b></label>
    </div>
{% endmacro %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Ecology Database{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
        
        
    </head>
    {{utils.flashed_messages()}}
    <!-- {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %} -->
    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1><a href="/">Ecology Database</a></h1>
                <h2>{% block sub %} Level 1 Locality {%endblock%}</h2>

            </div>
            {% block body %}

            {% endblock %}
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("select.search-select").select2();
            });
        </script>


        <!--
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> 
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        -->
        
    </body>
</html>