{% extends "base.html" %}
{% block title %}Localities Level 1{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <h3>Add Level 1 Locality</h3>
            </div>
            <div class="row">
                <!--##flask-bootstrap form template##-->
                {{ wtf.quick_form(form) }}                    
                
                <!-- ##Manual macro for form creation##
                    <form method="POST" action="/">
                    {{ form.hidden_tag() }}
                    {{ render_field(form.parque) }}
                    <input type="submit" value="Añadir">
                </form> -->
            </div>
            <div class="row">
                <h3>List of Level 1 localities</h3>
            </div>
            <div class="row">            
                {% for p in parques %}
                    <div class="row">
                        <div class="col-md-12">
                            <h3><a href="{{ url_for('transectos',parque_id=p.id) }}">{{ p.parque }}</a></h3>
                        </div>
                    </div>
                {%endfor%}       
            </div>
        </div>

    </div>
{%endblock%}