{% extends "base.html" %}
{% block title %}Locality level 3{% endblock %}
{% block sub %}
<a href="{{ url_for('transectos',parque_id=parque.id) }}">{{parque.parque}}</a>,
<b>{{ transecto.transecto }}</b>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-5">
                <div class="col-md-10">
                        <div class="row">
                            <h3>Add level 3 localities</h3>
                        </div>          
                        <div class="row">
                            {{ wtf.quick_form(form) }}

                            <!--<form method="POST" action="{{ url_for('quadrats',tr_id=transecto.id) }}">
                                {{ form.hidden_tag() }}
                                {{ render_field(form.quadrat) }}
                                {{ render_field(form.temperatura_suelo) }}
                                {{ render_field(form.profundidad_hojarasca) }}
                                {{ render_checkbox(form.ramas) }}                                
                                <input type="submit" value="Añadir"></form> -->
                            
                        </div>
                    </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <h3> List of level 3 localities</h3>
            </div>
            <div class="row">            
                {% for qdt in quadrats %}
                    <div class="row">
                        <div class="col-md-12">
                            <h3><a href="{{ url_for('quadrat', qdt_id=qdt.id) }}">{{ qdt.quadrat }}</a></h3>
                        </div>
                    </div>
                {%endfor%}       
            </div>
        </div>

    </div>
{%endblock%}