{% extends "base.html" %}
{% block title %} {{quadrat.quadrat}} {% endblock %}
{% block sub %} 
    <a href="{{ url_for('transectos',parque_id=quadrat.transecto.parque.id) }}">{{ quadrat.transecto.parque.parque }}</a>, 
    <a href="{{ url_for('quadrats',tr_id=quadrat.transecto.id) }}">{{quadrat.transecto.transecto}}</a>, 
    <b>{{ quadrat.quadrat }}</b> 
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <h3><a href="{{ url_for('taxon', qdt_id=quadrat.id)}}">New Taxon</a></h3>
                    </div>
                    <div class="row">
                        <h3>Add species to Level 3 Locality</h3>
                    </div>
                    
                    <div class="row">
                        
                        <form method="POST" action="{{ url_for('quadrat', qdt_id=quadrat.id)}}">
                            {{ form.hidden_tag()}}                            
                            {{ render_field(form.taxon_id) }}
                            {{ render_field(form.abundancia) }}
                            {{ render_field(form.vial) }}
                            {{ render_field(form.alfiler) }}
                            {{ render_field(form.alcohol) }}
                            <input type="submit" value="Añadir"> 
                        </form>
                            

                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <h3>Species in Level 3 Locality</h3>
                    <div class="row">
                        {% if asos %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{{ form.taxon_id.label }}</th>
                                        <th>{{form.abundancia.label }}</th>
                                        <th>{{ form.vial.label }}</th>
                                        <th>{{ form.alfiler.label }}</th>
                                        <th>{{ form.alcohol.label }}</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for aso in asos %}
                                        <tr>
                                            <td>{{ aso.taxon.nombre_cientifico }}</td>
                                            <td>{{ aso.abundancia }}</td>
                                            <td>{{ aso.vial }}</td>
                                            <td>{{ aso.alfiler }}</td>
                                            <td>{{ aso.alcohol }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>No entry available</p>
                            <!-- <p>Ninguna entrada disponible</p> -->
                        {% endif %}

                    </div>

                </div>

            </div>
        </div>


    </div>

{%endblock%}