{% extends "base.html" %}
{% block title %}Taxa{% endblock %}
{% block sub %}
Taxa
<br>
<a href="{{ url_for('quadrat', qdt_id=quadrat.id)}}">Back</a>
<!-- <a href="javascript:history.go(-1)" onclick="location.href = document.referrer; return false;">Back</a> -->
<!-- <a href="javascript:history.go(-1)">Regresar</a> -->
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-10">
                    <h3>Add New Taxon</h3>
                    <div class="row">                        
                        {{ wtf.quick_form(form) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <h3>Taxa</h3>
                    <div class="row">
                        {% if taxa %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Scientific Name</th>                                     
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for taxon in taxa %}
                                        <tr>
                                            <td>{{ taxon.nombre_cientifico }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>No entry available</p>
                            <!--<p>Ninguna entrada disponible</p>-->
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}