{% macro render_field(field) %}
    <div class="form-group">    
        {{ field.label }}
        {% if field.errors %}
            {%for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
        {%if field.name == 'taxon_id'%}
            {{ field(class_="form-control", list="taxa", autocomplete="off") }}
        {% else %}
            {{ field(class_="form-control") }}
        {% endif %}
    </div>
{% endmacro%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Blog{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1>Proyecto Hormigas</h1>
                <h2>{% block sub %} Parques {%endblock%}</h2>

            </div>
            {% block body %}

            {% endblock %}
        </div>
        
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
        
    </body>
</html>